$color-charcoal: #494949;
$color-white:    #ffffff;
$color-black:    #000000;

.navbar {
    background-color: $color-charcoal !important;
}

.nav a {
    color: $color-white !important;
    cursor: pointer;
}

.nav .active a {
    color: $color-black !important;
}

ul {
    padding-top:40px;
    padding-left:15%;
}

ul li {
    font-size:30px;
}

.nav>li>a:hover {
    background-color: initial !important;
}

#menu {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #707070;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
}

.topnav #myLinks {
    display: none;
    border-top:1px solid #000000;
}

.topnav a {
    color: white;
    background-color: #333 !important;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}