<div class="workspace">
    <div style="width:100%; height:200px; overflow-y: auto; overflow-x: hidden">
        <div style="width:100%; background-color: #EBEBEB">
            <div *ngIf="shapesService.editMode === false">
                <h5 style="padding:10px 10px 10px 20px; margin:0">GENERAL WALL</h5>
            </div>

            <h5 *ngIf="shapesService.editMode" style="padding:10px 10px 10px 20px; margin:0">GENERAL WALL
                <img (click)="shapesService.addCurrWallSetWall()" style="float:right" src="./assets/images/plus.svg"/>
                <img style="float:right" src="./assets/images/info.svg"/>
            </h5>
        </div>
        <div *ngIf="shapesService.editMode" style="padding-top:10px">
            <input *ngFor="let wall of shapesService.currWallSet; let i = index" [ngStyle]="shapesService.setWallTitleStyle(i)" class="wall_title" readonly="true" ondblclick="this.readOnly='';" (click)="shapesService.selectCurrWallSetFocusedWall(i)" (focusout)="shapesService.setCurrWallSetFocusedWallNewTitle($event.target.value)" value="{{wall}}" placeholder="Set a title" />
        </div>
    </div>
    <div style="width:100%">
        <div style="width:100%; background-color: #EBEBEB">
            <h5 style="padding:10px 20px 10px 20px; margin:0">SHAPES</h5>
        </div>

        <div *ngIf="shapesService.editMode" style="padding-top:30px; text-align: center">
            <div style="padding-bottom: 20px">
                <div (click)="insertNewFrame('square_frame')"  class="square shape" style="margin-right:30px"></div>
                <div (click)="insertNewFrame('circle_frame')" class="circle shape"></div>
            </div>
            <div>
                <div class="heart shape" style="margin-right:30px"></div>
                <div class="heart shape"></div>
            </div>
        </div>
    </div>
</div>