<div class="workspace">
    <div style="width:100%">
        <div style="width:100%; background-color: #EBEBEB">
            <div *ngIf="shapesService.editMode === false">
                <h5 style="padding:10px 10px 10px 20px; margin:0">GENERAL WALL</h5>
            </div>

            <h5 *ngIf="shapesService.editMode" style="padding:10px 10px 10px 20px; margin:0">GENERAL WALL
                <img (click)="shapesService.addCurrWallSetWall()" style="float:right" src="./assets/images/plus.svg"/>
                
                <div class="wall_title_tooltip" style="float:right">
                    <img src="./assets/images/info.svg"/>
                    <span class="wall_title_tooltiptext">
                        <table style="text-align: left">
                            <tr>
                                <td style="padding:0 10px 5px 10px; color:#CAC2C2">Creator:</td>
                                <td style="padding-bottom: 5px">{{shapesService.loadedWallSet.creator}}</td>
                            </tr>
                            <tr>
                                <td style="padding:0 10px 5px 10px; color:#CAC2C2">Type:</td>
                                <td style="padding-bottom: 5px">{{shapesService.loadedWallSet.type}}</td>
                            </tr>
                            <tr *ngIf="shapesService.loadedWallSet.type != 'Personal'">
                                <td style="padding:0 10px 5px 10px; color:#CAC2C2">Target:</td>
                                <td style="padding-bottom: 5px">{{shapesService.loadedWallSet.target}}</td>
                            </tr>
                            <tr>
                                <td style="padding:0 10px 5px 10px; color:#CAC2C2">Title:</td>
                                <td style="padding-bottom: 5px">{{shapesService.loadedWallSet.title}}</td>
                            </tr>
                            <tr>
                                <td colspan="2" style="padding:0 10px 0 10px; color:#CAC2C2">Description:</td>
                            </tr>
                            <tr> 
                                <td colspan="2" style="padding:0 10px 0 20px;">{{shapesService.loadedWallSet.description}}</td>
                            </tr>
                        </table>
                    </span>
                </div>
            </h5>
        </div>
        <div style="padding-top:10px; height:200px; overflow-y: auto; overflow-x: hidden">
            <div *ngIf="shapesService.editMode">
                <div class="id_div_1" *ngFor="let wall of shapesService.loadedWallSet.walls; let i = index">
                    <input [ngStyle]="shapesService.setWallTitleStyle(i)" class="wall_title" readonly="true" ondblclick="this.readOnly='';" (click)="shapesService.selectCurrWallSetFocusedWall(i)" (focusout)="shapesService.setCurrWallSetFocusedWallNewTitle(i, $event.target.value)" value="{{wall.title}}" placeholder="Set a title" />
                    <div class="remove_link">
                        <a (click)="shapesService.deleteWall(i)">
                            <img src="./assets/images/delete_black.svg"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="width:100%">
        <div style="width:100%; background-color: #EBEBEB">
            <h5 style="padding:10px 20px 10px 20px; margin:0">SHAPES</h5>
        </div>

        <div *ngIf="shapesService.editMode" style="padding-top:30px; text-align: center">
            <div style="padding-bottom: 20px">
                <div (click)="insertNewFrame('square_frame')"  class="square shape" style="margin-right:30px"></div>
                <div (click)="insertNewFrame('circle_frame')" class="circle shape"></div>
            </div>
            <div>
                <div class="heart shape" style="margin-right:30px"></div>
                <div class="heart shape"></div>
            </div>
        </div>
    </div>
</div>