.workspace {
    height: 100%;
    padding-top: 0 !important;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 51px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px; background-color: #F5F5F5;
}

.shape {
    cursor: pointer;
}

.wall_title {
    all: unset;
    width: 100% !important;
    font-size: 14px;
    padding:5px 0 5px 10px;
}

.wall_title_tooltip {
    position: relative;
    display: inline-block;
}

.wall_title_tooltip .wall_title_tooltiptext {
    visibility: hidden;
    width: 160px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -140px;
}
  
  .wall_title_tooltip:hover .wall_title_tooltiptext {
    visibility: visible;
  }

.id_div_1 {
    direction: ltr; 
    white-space: wrap;
    background: #fff;
    position:relative;
}

.remove_link {
    visibility: hidden;
    position:absolute;
    top: 4px;
    right:5px;
}
.id_div_1:hover .remove_link {
    visibility:visible;
}
.fa-times-circle {
    color: grey;
}
.fa-times-circle:hover {
    color: #cc0033;
}
.icon_size16 {
    font-size: 16px;
}