<div *ngIf="showNewWallModalPartially" id="new_wall_page" class="overlay" style="z-index:5">
      <div id="new-wall_overlay_content" class="clearfix">
        <a href="javascript:void(0)" class="closebtn" (click)="sendMessage()" style="top:-20px; right:10px;">&times;</a>
        <h3>NEW WALL</h3>
        <table align="center">
            <tr>
                <td><label for="wall_creator">Creator</label></td>
                <td><div class="form-group">
                    <select (change)="selectWallCreator($event.target.value)" class="form-control">
                        <option *ngFor="let creator of creators" value="{{creator}}">{{creator}}</option>
                    </select>
                </div></td> 
            </tr>
            <tr>
                <td> <label for="wall_type">Type</label> </td>
                <td><div class="form-group">
                    <select (change)="selectWallType($event.target.value)" class="form-control">
                        <option *ngFor="let type of types" value="{{type}}">{{type}}</option>
                    </select>
                </div></td> 
            </tr>

            <tr>
                <td> <label for="wall_target">Target</label> </td>
                <td><div class="form-group">
                    <select (change)="selectWallTarget($event.target.value)" class="form-control">
                        <option *ngFor="let target of targets" value="{{target}}">{{target}}</option>
                    </select>
                </div></td> 
            </tr>

            <tr>
                <td style="padding-right:20px"> <label for="wall_title">Title</label> </td>
                <td><div class="form-group">
                    <input (keyup)="setWallTitle($event.target.value)" type="text" class="form-control" id="wall_title" placeholder="Title">
                </div></td>
            </tr>

            <tr>
                <td style="padding-right:20px"> <label for="wall_description">Description</label> </td>
                <td><div class="form-group">
                    <input (keyup)="setWallDescription($event.target.value)" type="text" class="form-control" id="wall_description" placeholder="Description">
                </div></td>
            </tr>

            <tr>
                <td colspan="2" style="padding: 10px 0 30px 0">
                    <button routerLink="/editor" (click)="createNewWall()" type="button" class="btn btn-block" style="color:white; background-color:#707070">Create Wall</button>
                </td>
            </tr>
        </table>
        
    </div>
</div>