<div class="tools">
    <div style="width:100%; height:200px">
        <div style="width:100%; background-color: #EBEBEB; border-bottom: 1px solid #E3E2E2; margin-bottom: 10px">
            <h5 style="padding:10px 20px 10px 10px; margin:0">TOOLS</h5>
        </div>
        <div *ngIf="case == 1" style="color:#9A9A9A">
            <div style="border-bottom: 1px solid #E3E2E2">
                <table style="width: 100%">
                    <tr style="border-bottom: 10px solid transparent">
                        <td><label style="padding:0 10px">X</label></td>
                        <td><input (keyup)="shapesService.setPosX($event.target.value)" type="text" style="width:50px; border-radius: 5px" id="posX" placeholder="0" value="{{shapesService.left}}"></td>
                        <td><label style="padding:0 10px">Y</label></td>
                        <td><input (keyup)="shapesService.setPosY($event.target.value)" type="text" style="width:50px; border-radius: 5px" id="posY" placeholder="0" value="{{shapesService.top}}"></td>
                    </tr>

                    <tr style="border-bottom: 10px solid transparent">
                        <td><label style="padding:0 10px">W</label></td>
                        <td><input (keyup)="shapesService.setWidth($event.target.value)" type="text" style="width:50px; border-radius: 5px" id="width" placeholder="0" value="{{shapesService.width}}"></td>
                        <td><label style="padding:0 10px">H</label></td>
                        <td><input (keyup)="shapesService.setHeight($event.target.value)" type="text" style="width:50px; border-radius: 5px" id="height" placeholder="0" value="{{shapesService.height}}"></td>
                    </tr>

                    <tr style="border-bottom: 10px solid transparent">
                        <td><label style="padding:0 10px">O</label></td>
                        <td><input type="text" style="width:50px; border-radius: 5px" id="rotate" placeholder="0" value="0"></td>
                        <td><label style="padding:0 10px">P</label></td>
                        <td><input type="text" style="width:50px; border-radius: 5px" id="padding" placeholder="0" value="0"></td>
                    </tr>
                </table>
            </div>

            <div style="padding:10px 10px; border-bottom: 1px solid #E3E2E2">
                <div data-toggle="collapse" data-target="#frame_bazels" (click)='shapesService.toggleHasBazels()'>
                    <span style="color:#5C5555">BAZELS</span>
                    <img src="{{shapesService.hasBazels?'/assets/images/remove.svg':'/assets/images/add.svg'}}" style="float:right" >
                </div>

                <div id="frame_bazels" class="collapse">
                    <div class="dropdown" style="padding-top:10px">
                        <button style="width:100%; text-align:left; color:black; background-color: white; border: 1px solid #C4C4C4" class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                            <ng-template [ngIf]="shapesService.bazelMaterial === ''">
                                Material
                                <img style="float:right" src="/assets/images/arrow_down.svg">
                            </ng-template>

                            <ng-template [ngIf]="shapesService.bazelMaterial !== ''">
                                <img src="/assets/materials/{{shapesService.bazelMaterial}}.png"> 
                            </ng-template>
                        </button>
                        <ul class="dropdown-menu" style="width:100%; text-align: center; padding-top: 10px">
                            <li (click)='shapesService.addMaterial("wood")' style="cursor: pointer; padding-bottom: 5px"><img src="/assets/materials/wood.png"> </li>
                            <li (click)='shapesService.addMaterial("aqua")' style="cursor: pointer; padding-bottom: 5px"><img src="/assets/materials/aqua.png"> </li>
                            <li (click)='shapesService.addMaterial("iron")' style="cursor: pointer; padding-bottom: 5px"><img src="/assets/materials/iron.png"> </li>
                            <li (click)='shapesService.addMaterial("gold")' style="cursor: pointer; padding-bottom: 5px"><img src="/assets/materials/gold.png"> </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div style="padding:10px 10px">
                <p style="color:#5C5555">IMAGES</p>
                <input type="checkbox" id="use_as_mask" value="Use as mask">
                <label for="use_as_mask">Use as mask</label>
                <div style="float:right">
                    <img src="/assets/images/duration.png" style="padding-right:5px">
                    <input type="text" style="width:50px; border-radius: 5px" id="duration" placeholder="0" value="0">
                </div>
                <button type="button" class="btn" style="outline: none; margin-top: 10px; padding-top: 5px; padding-bottom:5px; border:1px solid #C4C4C4; color:black; background-color:white; width:100%; border-radius: 5px">Choose Images</button>
            </div>

        </div>

        <div *ngIf="case == 2"  style="color:#9A9A9A">
            <div style="padding:0 10px 10px 10px; border-bottom: 1px solid #E3E2E2">
                <span style="color:#5C5555">DISPLAY TIME</span>
                <img src="/assets/images/add.svg" style="float:right">
            </div>
            <div style="padding:10px 10px; border-bottom: 1px solid #E3E2E2">
                <span style="color:#5C5555">BEZELS</span>
                <img src="/assets/images/add.svg" style="float:right">
            </div>
            <div style="padding:10px 10px; border-bottom: 1px solid #E3E2E2">
                <span style="color:#5C5555">IMAGES</span>
                <img src="/assets/images/add.svg" style="float:right">
            </div>
            <div style="padding:10px 10px; border-bottom: 1px solid #E3E2E2">
                <span style="color:#5C5555">MATERIAL</span>
                <img src="/assets/images/add.svg" style="float:right">
            </div>
            <div style="padding:10px 10px; border-bottom: 1px solid #E3E2E2">
                <span style="color:#5C5555">ITERATING TIME</span>
                <img src="/assets/images/add.svg" style="float:right">
            </div>
        </div>
    </div>
</div>