<div id="editor" (click)="shapesService.focusWall()" [ngStyle]="shapesService.setWallStyle()"> 
    <div (click)="shapesService.focusFrame(i); $event.stopPropagation()" *ngFor="let frame of shapesService.frames; let i = index" [ngStyle]="shapesService.setFrameBezelsStyle(i)" style="position:absolute">
        <div [ngStyle]="shapesService.setFrameStyle(i)" style="position:absolute">
            <ng-template [ngIf]="frame.images.length >= 1">
                <img [ngStyle]="shapesService.setImageStyle(i)" src="/assets/images/{{frame.images[frame.displayedImageIndex]}}">
            </ng-template>
        </div>
    </div>
</div>

<div id="editor_current_frame_images"> 
    <div *ngIf="shapesService.isFocusedFrame"  style="color:#9A9A9A">
        <div style="padding-bottom:15px" class="col-xs-3" *ngFor="let frameImage of shapesService.frames[shapesService.selectedFrame].images; let i = index">
            <img (click)="shapesService.changeDisplayedImage(i)" title="{{frameImage}}" class="img-responsive" src="/assets/images/{{frameImage}}">
        </div>
    </div>
</div>