.editor {
    height: 200px;
    width: 68%;
    z-index: 1;
    top: 51px;
    margin-left: 16%;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px; background-color: #C4C4C4;
}