#editor {
    height: 520PX;
    width: 1980px;
    z-index: 1;
    top: 14px;
    padding-top: 0 !important;
    margin-left: 16%;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px; background-color: #C4C4C4;
    position:relative;
    zoom: 40%;
}

#editor_current_frame_images {
    height: 250px;
    width: 800px;
    z-index: 1;
    top: 50px;
    padding-top: 10px !important;
    margin-left: 16%;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px; background-color: #C4C4C4;
    position:relative;
}

body {
    background: black;
}

.clock, .date {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    // font-size: 60px;
    font-family: Orbitron;
    font-size: 20px;
    letter-spacing: 7px;
}