<div id="editor" (click)="shapesService.focusWall()" [ngStyle]="shapesService.setWallBorderStyle()">
    <div *ngIf="shapesService.editMode" [ngStyle]="shapesService.loadedWallSet.walls[shapesService.focusedWallIndex].getWallStyle()">
        <div (click)="shapesService.focusFrame(i); $event.stopPropagation()" *ngFor="let frame of shapesService.loadedWallSet.walls[shapesService.focusedWallIndex].frames; let i = index" [ngStyle]="shapesService.setFrameBorderStyle(i)" style="position:absolute">
            <div [ngStyle]="frame.getFrameStyle()" style="position:absolute">
                <a *ngIf="frame.interactionType == 'Weather'" target="_blank" href="https://ibooked.gr/weather/irakleion-w644185">
                    <img [ngStyle]="frame.getImageStyle()" src="https://w.bookcdn.com/weather/picture/30_w644185_1_19_9b59b6_250_8e44ad_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=595&anc_id=50070"  alt="booked.net"/>
                </a>
                <ng-template [ngIf]="frame.images.length >= 1">
                    <img *ngIf="frame.interactionType == ''" [ngStyle]="frame.getImageStyle()" src="{{getImageSRC(frame.images[frame.displayedImageIndex])}}">
                </ng-template>

                <div *ngIf="frame.interactionType == 'Clock'" [ngStyle]="frame.timeFontSize()" id="MyClockDisplay" class="clock">{{currentTime}}</div>
                <div *ngIf="frame.interactionType == 'Date'" id="MyClockDisplay" class="date">
                    <p [ngStyle]="frame.dayFontSize()" >{{shapesService.getCurrentDay()}}</p>
                    <p [ngStyle]="frame.monthFontSize()">{{shapesService.getCurrentMonth()}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="editor_current_frame_images">
    <div *ngIf="shapesService.editMode">
        <div *ngIf="shapesService.isFocusedFrame"  style="color:#9A9A9A">
            <div style="padding-bottom:15px" class="col-xs-3" *ngFor="let frameImage of shapesService.loadedWallSet.walls[shapesService.focusedWallIndex].frames[shapesService.selectedFrame].images; let i = index">
                <img (click)="shapesService.changeDisplayedImage(i)" title="{{frameImage}}" class="img-responsive" src="{{getImageSRC(frameImage)}}">
            </div>
        </div>

        <div *ngIf="shapesService.isFocusedWall"  style="color:#9A9A9A">
            <div style="padding-bottom:15px" class="col-xs-6" *ngFor="let wallpaper of shapesService.loadedWallSet.walls[shapesService.focusedWallIndex].images; let i = index">
                <img (click)="shapesService.changeDisplayedWallpaper(i)" title="{{wallpaper}}" class="img-responsive" src="{{wallpaper}}">
            </div>
        </div>
    </div>
</div>