<p>upload-materials works!</p>

<div class="col-xs-2" style="padding-bottom:20px">
    <img class="img-responsive" src="./assets/materials/gold.jpg">
</div>

<div class="col-xs-2" style="padding-bottom:20px">
    <img class="img-responsive" src="./assets/materials/iron.jpg">
</div>

<div class="col-xs-2" style="padding-bottom:20px">
    <img class="img-responsive" src="./assets/materials/brick.jpg">
</div>

<div class="col-xs-2" style="padding-bottom:20px">
    <img class="img-responsive" src="./assets/materials/stone.png">
</div>

<div class="col-xs-2" style="padding-bottom:20px">
    <img class="img-responsive" src="./assets/materials/gold.jpg">
</div>

<div class="col-xs-2" style="padding-bottom:20px">
    <img class="img-responsive" src="./assets/materials/iron.jpg">
</div>

<div class="col-xs-2" style="padding-bottom:20px">
    <img class="img-responsive" src="./assets/materials/brick.jpg">
</div>

<div class="col-xs-2" style="padding-bottom:20px">
    <img class="img-responsive" src="./assets/materials/stone.png">
</div>

<div class="col-xs-2" style="padding-bottom:20px">
    <img class="img-responsive" src="./assets/materials/gold.jpg">
</div>

<div class="col-xs-2" style="padding-bottom:20px">
    <img class="img-responsive" src="./assets/materials/iron.jpg">
</div>

<div class="col-xs-2" style="padding-bottom:20px">
    <img class="img-responsive" src="./assets/materials/brick.jpg">
</div>

<div class="col-xs-2" style="padding-bottom:20px">
    <img class="img-responsive" src="./assets/materials/stone.png">
</div>