<div id="overlay" onclick="stopDisplayWallsForLoading()">
  <div id="overlay_content">
      <div style="padding-bottom: 40px">
          <div class="wall_title">Main Wall</div>
          <div style="display:inline-block">
            <img src="/assets/images/test_wall.png" height="150" alt="">
          </div>
      </div>

      <div>
          <div class="wall_title">Main Wall</div>
          <div style="display:inline-block">
            <img src="/assets/images/test_wall.png" height="150" alt="">
          </div>
      </div>
  </div>
</div>