<div *ngIf="showLoadWallModalPartially" id="load_wall_page" class="overlay" style="z-index:5">
    <div class="clearfix">
        <a href="javascript:void(0)" class="closebtn" (click)="sendMessage()" style="top:-15px">&times;</a>
    </div>

    <div id="load-wall_overlay_content" style="padding:20px">
        <div class="container clearfix" *ngFor="let wallSet of shapesService.wallSets; let wallSetIndex = index" style="width:800px; padding-left:0">
            <div id="myCarousel{{wallSetIndex}}" class="carousel slide" data-ride="carousel" style="padding-bottom: 20px">
                <!-- Indicators -->
                <ol class="carousel-indicators" style="bottom:20px">
                <li *ngFor="let wall of wallSet.walls; let index = index" attr.data-target="#myCarousel{{wallSetIndex}}" attr.data-slide-to="{{index}}" [class.active]="index == 0"></li>
                </ol>
            
                <!-- Wrapper for slides -->
                <div class="carousel-inner" style="width:800px">

                    <div routerLink="/home" (click)="loadWall(wallSetIndex, index)" class="item" *ngFor="let wall of wallSet.walls; let index = index" [class.active]="index == 0" style="width:800px">
                        <div style="top:20px; width: 800px">
                            <div [ngStyle]="wall.getBorderStyle()">
                                <div [ngStyle]="wall.getWallStyle()">
                                    <div *ngFor="let frame of wall.frames; let i = index" [ngStyle]="frame.getFrameBorderStyle()" style="position:absolute">
                                        <div [ngStyle]="frame.getFrameStyle()" style="position:absolute">
                                            <ng-template [ngIf]="frame.images.length >= 1">
                                                <img [ngStyle]="frame.getFirstImageStyle()" src="/assets/images/{{frame.images[0]}}">
                                            </ng-template>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-caption" style="padding-bottom:0">
                            <h3 style="margin:0; padding:0">{{wall.title}}</h3>
                            <p>{{wallSet.description}}</p>
                          </div>
                    </div>
                </div>
            
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel{{wallSetIndex}}" data-slide="prev" style="margin-bottom: 20px">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel{{wallSetIndex}}" data-slide="next" style="right:-15px; margin-bottom: 20px">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>