#preview-wall {
    height: 520PX;
    width: 1980px;
    z-index: 1;
    top: 14px;
    padding-top: 0 !important;
    margin-left: 4%;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px; background-color: #C4C4C4;
    position:relative;
    zoom: 60%;
}