<div style="padding-top:10px">
    <label class="image-upload-container btn btn-bwm" style="float:right; padding-top:0 !important">
        <span><img src="./assets/images/upload.svg"/></span>
        <input  style="display:none" 
                #imageInput
                multiple
                type="file"
                accept="image/*"
                (change)="processFile(imageInput)">
    </label>
    
    <p style="padding-left:15px; font-weight: 600;">{{wallpapers.length}} Wallpapers</p>

    <div *ngFor="let wallpaper of wallpapers" class="col-xs-12" style="padding-bottom:20px">
        <div class="content">
            <div class="content-overlay"></div>
            <img class="content-image img-responsive" src="{{wallpaper.src}}" alt="">
            <div class="content-details fadeIn-top">
                <div>
                    <img style="cursor:pointer" (click)="deleteWallpaper(wallpaper)" src="/assets/images/delete.svg"/>
                </div>
                <h3>{{wallpaper.title}}</h3>
            </div>    
        </div>
    </div>

    <div *ngIf="showUploadedWallpapersModal" class="modal_overlay">
        <div id="modal_overlay_content" class="clearfix">
            <div class="col-xs-12" style="padding-top:20px">
                    <div style="padding-bottom:10px">
                    <span style="color:#707070">UPLOAD WALLPAPERS</span>
                    <img (click)="uploadWallpapers()" style="padding-right:5px; float:right" src="/assets/images/apply.png" width="25" heigh="25">
                    <img (click)="cancelUploadWallpapers()" style="padding-right:5px; float:right" src="/assets/images/cancel.png" width="25" heigh="25">
                    <div>
                        <span style="font-weight: 600; font-style: italic">{{uploadedWallpapers.length}} Wallpapers</span>
                    </div>
                </div>
                <div class="scrollbar" style="height:400px; padding-top:10px">
                    <div *ngFor="let wallpaper of uploadedWallpapers; let i = index" class="col-xs-12" style="padding-bottom:30px; text-align: center">
                        <img style="border-radius:10px; width:100%" class="img-responsive" src="{{wallpaper.src}}" alt="">
                        <div class="form-group" style="padding-top:10px">
                            <input type="text" class="form-control" placeholder="Title" (change)="saveWallpaperTitle(i, $event)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>