.gallery_display {
    width: 68%;
    z-index: 1;
    top: 51px;
    margin-left: 20%;
    padding-top: 20px;
}

.gallery_inactive_option {
    opacity: 0.5;
}

.img-responsive {
     display: inline !important;
}


// OVERLAY IMAGE

.main-title{
    color: #2d2d2d;
    text-align: center;
    text-transform: capitalize;
    padding: 0.7em 0;
}

.content {
    position: relative;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
}

.content .content-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
     opacity: 1;
}

.content-image{
     width: 100%;
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
}

.content-details h3{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

.content-details p{
    color: #fff;
    font-size: 0.8em;
}

.fadeIn-bottom{
     top: 80%;
}

.fadeIn-top{
     top: 20%;
     padding: 0 !important;
}

.fadeIn-left{
     left: 20%;
}

.fadeIn-right{
     left: 80%;
}

/// Gallery Image Overlay

#gallery-image_overlay_content {
	position: relative;
    top: 10%;
    max-height: 90%;
    left:10%;
    width: 80%;
    margin-top: 30px;
    padding:50px 0;
    background-color: white;
    border-radius: 10px;
}

#gallery-image_overlay_content h3 {
    text-align: center;
    padding-bottom: 10px;
}

#gallery-image_overlay_content select {
    width: 150px !important;
}

#gallery-image_overlay_content input {
    width: 150px !important;
}

.gallery-images_checked {
    outline: 5px solid #30C2FF;
}

.gallery-image_overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
}

.gallery-image_overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.gallery-image_overlay a {
    color:#C4C4C4;
}

.gallery-image_overlay a:hover {
    text-decoration: none;
}