<div class="filters">
    <div>
        <div style="width:100%; background-color: #EBEBEB; margin-bottom: 20px">
            <h5 style="padding:10px 20px 10px 20px; margin:0">FILTERS</h5>
        </div>
    </div>

    <div style="padding-left:10px">
        <div>
            <div style="border-bottom: 3px solid #878787; padding-bottom: 4px">
                <span style="border-bottom: 7px solid #878787; font-weight: 600; color:#878787">Type</span>
            </div>
            <div style="padding-top:10px">
                <div>
                    <label class="checkbox_container">Family
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="checkbox_container">Cars
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="checkbox_container">Attractions
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="checkbox_container">Travels
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
        </div>

        <div>
            <div style="border-bottom: 3px solid #878787; padding-bottom: 4px">
                <span style="border-bottom: 7px solid #878787; font-weight: 600; color:#878787">Country</span>
            </div>
            <div style="padding-top:10px">
                <div>
                    <label class="checkbox_container">Greece
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="checkbox_container">Italy
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="checkbox_container">Norway
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="checkbox_container">Spain
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
        </div>

        <div>
            <div style="border-bottom: 3px solid #878787; padding-bottom: 4px">
                <span style="border-bottom: 7px solid #878787; font-weight:600; color:#878787">City</span>
            </div>
            <div style="padding-top:10px">
                <div>
                    <label class="checkbox_container">Athens
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="checkbox_container">Madrid
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="checkbox_container">Milan
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="checkbox_container">Oslo
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="gallery_display">

    <div style="padding:0 0 10px 15px">
        <img style="opacity:0.5; padding-right:3px" src="/assets/images/2x1.png" alt="">
        <img style="padding-right:3px" src="/assets/images/2x2.png" alt="">
        <img style="opacity:0.5; padding-right:3px" src="/assets/images/3x3.png" alt="">
        <img style="opacity:0.5; padding-right:3px" src="/assets/images/4x4.png" alt="">
        <span style="font-weight: 600">37 Images</span>
    </div>

    <div class="scrollbar" style="height:450px">
        <div class="col-xs-6" style="padding-bottom:30px">
            <img class="img-responsive" style="border-radius:6px" src="/assets/images/waterfall3.png" alt="">
        </div>
    
        <div class="col-xs-6" style="padding-bottom:30px">
            <img class="img-responsive" style="border-radius:6px" src="/assets/images/waterfall2.png" alt="">
        </div>
    
        <div class="col-xs-6">
            <img class="img-responsive" style="border-radius:6px" src="/assets/images/waterfall4.png" alt="">
        </div>
        
        <div class="col-xs-6">
            <img class="img-responsive" style="border-radius:6px" src="/assets/images/waterfall1.png" alt="">
        </div>
    </div>
</div>