<div class="filters">
    <div>
        <div style="width:100%; background-color: #EBEBEB; margin-bottom: 20px">
            <h5 style="padding:10px 20px 10px 20px; margin:0">FILTERS</h5>
        </div>
    </div>

    <div style="padding-left:10px">
        <div>
            <div style="border-bottom: 3px solid #878787; padding-bottom: 4px">
                <span style="border-bottom: 7px solid #878787; font-weight: 600; color:#878787">Type</span>
            </div>
            <div style="padding-top:10px">
                <div>
                    <label *ngFor="let type of types" class="checkbox_container">
                        <p style="all:unset" style="width:100%" (click)="selectFilter(type, 'selectedTypes')">{{type}}</p>
                        <input type="checkbox">
                        <span (click)="selectFilter(type, 'selectedTypes')" class="checkmark"></span>
                    </label>
                </div>
            </div>
        </div>

        <div>
            <div style="border-bottom: 3px solid #878787; padding-bottom: 4px">
                <span style="border-bottom: 7px solid #878787; font-weight: 600; color:#878787">Country</span>
            </div>
            <div style="padding-top:10px">
                <div>
                    <label *ngFor="let country of countries" class="checkbox_container">
                        <p style="all:unset" style="width:100%" (click)="selectFilter(country, 'selectedCountries')">{{country}}</p>
                        <input type="checkbox">
                        <span (click)="selectFilter(country, 'selectedCountries')" class="checkmark"></span>
                    </label>
                </div>
            </div>
        </div>

        <div>
            <div style="border-bottom: 3px solid #878787; padding-bottom: 4px">
                <span style="border-bottom: 7px solid #878787; font-weight:600; color:#878787">City</span>
            </div>
            <div style="padding-top:10px">
                <div>
                    <label *ngFor="let city of cities" class="checkbox_container">
                        <p style="all:unset" style="width:100%" (click)="selectFilter(city, 'selectedCities')">{{city}}</p>
                        <input type="checkbox">
                        <span (click)="selectFilter(city, 'selectedCities')" class="checkmark"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="gallery_display">

    <div style="padding:0 0 10px 15px">
        <img [class.gallery_inactive_option]="imagesCol!==12" (click)="changeImagesCol(12)" style="padding-right:3px; cursor:pointer" src="/assets/images/2x1.png" alt="">
        <img [class.gallery_inactive_option]="imagesCol!==6"  (click)="changeImagesCol(6)"  style="padding-right:3px; cursor:pointer" src="/assets/images/2x2.png" alt="">
        <img [class.gallery_inactive_option]="imagesCol!==4"  (click)="changeImagesCol(4)"  style="padding-right:3px; cursor:pointer" src="/assets/images/3x3.png" alt="">
        <img [class.gallery_inactive_option]="imagesCol!==3"  (click)="changeImagesCol(3)"  style="padding-right:3px; cursor:pointer" src="/assets/images/4x4.png" alt="">
        <span style="font-weight: 600">{{displayedGalleryImages.length}} Images</span>
    </div>

    <div class="scrollbar" style="height:450px">
        <div *ngFor="let index of displayedGalleryImages" class="col-xs-{{imagesCol}}" style="padding-bottom:30px; text-align: center">
            <div class="content">
                <div class="content-overlay"></div>
                <img class="content-image img-responsive" src="/assets/images/{{galleryImages[index].src}}" alt="">
                <div class="content-details fadeIn-top">
                    <div>
                        <img style="cursor:pointer" (click)="displaySelectedImage(galleryImages[index].src)" src="/assets/images/preview_image.svg"/>
                        <img style="cursor:pointer" (click)="deleteImage(galleryImages[index].src)" src="/assets/images/delete.svg"/>
                        <img style="cursor:pointer" onclick="console.log('a3')"src="/assets/images/edit.svg"/>
                    </div>
                    <h3>{{galleryImages[index].title}}</h3>
                    <p>{{galleryImages[index].description}}</p>
                </div>    
            </div>
        </div>

    </div>
</div>

<div *ngIf="displayImage" id="gallery-image_page" class="gallery-image_overlay">
    <div class="clearfix">
        <a href="javascript:void(0)" class="closebtn" (click)="hideDisplayedImage()">&times;</a>
    </div>

    <div id="gallery-image_overlay_content" class="clearfix">
        <div class="col-xs-6">
            <img style="border-radius: 10px" class="content-image img-responsive" src="/assets/images/{{displayedImage.src}}" alt="">
        </div>
        <div class="col-xs-6">
            <h3 style="margin:0">{{displayedImage.title}}</h3>
            <p>{{displayedImage.description}}</p>
            <div style="display:inline-block; background-color: rgb(61, 61, 145); color:white; padding:10px; border-radius: 10px; margin-right: 10px">#{{displayedImage.type}}</div>
            <div style="display:inline-block; background-color: rgb(61, 61, 145); color:white; padding:10px; border-radius: 10px; margin-right: 10px">#{{displayedImage.country}}</div>
            <div style="display:inline-block; background-color: rgb(61, 61, 145); color:white; padding:10px; border-radius: 10px; margin-right: 10px">#{{displayedImage.city}}</div>
        </div>
    </div>
</div>