<div align="center">
    <div id="wall_display_bezels"> 
        <div id="wall_display_content"> 
            <div style="background-color:rgb(34, 0, 78); width:100px; height:100px; position:absolute; top:20px; left:20px">
                <div style="background-color:rgb(255, 255, 255); width:80px; height:80px; position:absolute; top:10px; left:10px; padding:10px">
                    <img style="width:60px; height:60px;" src="/assets/images/waterfall1.png">
                </div>
            </div>

            <div style="background-color:rgb(255, 209, 5); width:100px; height:100px; position:absolute; top:130px; left:20px">
                <div style="background-color:rgb(255, 255, 255); width:80px; height:80px; position:absolute; top:10px; left:10px; padding:10px">
                    <img style="width:60px; height:60px;" src="/assets/images/waterfall3.png">
                </div>
            </div>

            <div style="border-radius:50%; background-color:rgb(57, 126, 1); width:200px; height:200px; position:absolute; top:20px; left:200px">
                <div style="border-radius:50%; background-color:rgb(255, 255, 255); width:180px; height:180px; position:absolute; top:10px; left:10px; padding:10px">
                    <img style="border-radius:50%; width:160px; height:160px;" src="/assets/images/waterfall2.png">
                </div>
            </div>
        </div>
    </div>
</div>