#wall_display_bezels {
    height: 260px;
    width: 990px;
    z-index: 1;
    top: 50px;
    padding-top: 0 !important;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px; background-color: #C4C4C4;
    position:relative;
}

#wall_display_content {
    height: 240px;
    width: 970px;
    z-index: 1;
    top: 10px;
    padding-top: 0 !important;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px; background-color: rgb(97, 0, 0);
    position:relative;
}