<div align="center">
    <div id="wall_display_bezels" [ngStyle]="setBezelsStyle()"> 
        <div id="wall_display_content" [ngStyle]="setWallStyle()">
            <div *ngFor="let frame of walls[displayedWall].frames; let i = index" [ngStyle]="setFrameBezelsStyle(i)" style="position:absolute">
                <p>{{i}}</p>
                <div [ngStyle]="setFrameStyle(i)" style="position:absolute">
                    <img [ngStyle]="setImageStyle(i)" src="/assets/images/{{frame.images[frame.displayedImageIndex]}}">
                </div>
            </div>
        </div>
    </div>
</div>