<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="/">
                <img src="/assets/images/logo.png" height="30" alt="">
            </a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav" style="float:initial">
                <li routerLinkActive="active" (click)="toggleNewWallModal()"><a>New Wall</a></li>
                <li routerLinkActive="active" (click)="toggleLoadWallModal()"><a>Load Wall</a></li>
                <li routerLinkActive="active"><a routerLink="/materials">Materials</a></li>
                <li routerLinkActive="active"><a routerLink="/wallpapers">Wallpapers</a></li>
                <li routerLinkActive="active"><a routerLink="/gallery">Gallery</a></li>

                <li *ngIf="shapesService.editMode && this.router.url === '/home'" style="float:right" routerLinkActive="active">
                    <a routerLink="/preview-wall"><img src="./assets/images/preview.png"/> Preview Wall</a>
                </li>
                <li *ngIf="shapesService.editMode && this.router.url === '/home'" style="float:right" routerLinkActive="active" (click)="shapesService.saveWall()">
                    <a><img src="./assets/images/save.png"/> Save Wall</a>
                </li>
                <li *ngIf="shapesService.editMode && this.router.url === '/home'" style="float:right" routerLinkActive="active" (click)="shapesService.saveWallSet()">
                    <a><img src="./assets/images/save_all.png"/> Save WallSet</a>
                </li>

                <li *ngIf="shapesService.editMode && this.router.url === '/preview-wall'" style="float:right" routerLinkActive="active">
                    <a routerLink="/home">Editor</a>
                </li>
            </ul>
        </div>

    </div>

    <app-new-wall (messageEvent)="receiveMessage($event)" [showNewWallModalPartially]="showNewWallModal"></app-new-wall>
    <app-load-wall (messageEvent)="receiveMessage($event)" [showLoadWallModalPartially]="showLoadWallModal"></app-load-wall>
</nav>