<div *ngIf="showChooseWallImagesModalPartially" id="wall_images_page" class="modal_overlay">
  <div id="modal_overlay_content" class="clearfix">
      <div class="col-xs-12" style="padding-top:40px">
          <div style="padding:0 10px 10px 15px">
              <img [class.wall-images_inactive_option]="shapesService.wallImagesCol!==12" (click)="shapesService.changeWallImagesCol(12)" style="padding-right:3px; cursor:pointer" src="/assets/images/2x1.png" alt="">
              <img [class.wall-images_inactive_option]="shapesService.wallImagesCol!==6"  (click)="shapesService.changeWallImagesCol(6)"  style="padding-right:3px; cursor:pointer" src="/assets/images/2x2.png" alt="">
              <span style="font-weight: 600">{{shapesService.selectedWallImages}} Images</span>

              <img (click)="applySelectedWallpapers()" [class.wall-images_inactive_option]="!shapesService.selectedWallpapers" style="padding-right:5px; float:right" src="/assets/images/apply.png" width="25" heigh="25">
              <img (click)="sendMessage()" style="padding-right:5px; float:right" src="/assets/images/cancel.png" width="25" heigh="25">
              <img (click)="shapesService.uncheckAllWallpapers()" [class.wall-images_inactive_option]="!shapesService.selectedWallpapers" style="padding-right:5px; float:right" src="/assets/images/uncheck.png" width="25" heigh="25">
          </div>
      
          <div class="scrollbar wall-images-2" style="height:400px; padding-top:10px">
              <div *ngFor="let wallpaper of wallpapers" class="col-xs-{{shapesService.wallImagesCol}}" style="padding-bottom:30px; text-align: center">
                  <img [class.wall-images_checked]="shapesService.isWallpaperSelected(wallpaper.src)" (click)="shapesService.selectWallpaper(wallpaper.src)" class="img-responsive" src="{{wallpaper.src}}" alt="">
              </div>
          </div>
      </div>
  </div>
</div>